version: "4.8"

networks:
  default:
    ipam:
      config:
        - subnet: 172.10.3.0/24
          gateway: 172.10.3.254

services:
  mysql:
    image: mariadb:10.9
    container_name: hk4e-mysql
    restart: always
    networks:
      default:
        ipv4_address: 172.10.3.100
    ports:
      - 5000:3306
    environment:
      TZ: "Asia/Shanghai"
      MYSQL_ROOT_PASSWORD: cokeserver2022
      MYSQL_ROOT_HOST: "%"
    volumes:
      - ./database/mysql:/var/lib/mysql

  redis:
    image: redis:6.2
    container_name: hk4e-redis
    restart: always
    networks:
      default:
        ipv4_address: 172.10.3.101
    volumes:
      - ./database/redis:/data
    command: redis-server --save 60 1 --loglevel warning --requirepass cokeserver2022

  sdkserver:
    image: hk4e/cokeserver
    container_name: hk4e-sdkserver
    restart: no
    networks:
      default:
        ipv4_address: 172.10.3.253
    ports:
      - 21000:800
    volumes:
      - ./sdkserver:/opt/hk4e/sdkserver
