<html>
  <head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <title>测试页面</title>
    <h1>SDKServer</h1>
    <script>
      if (window.location.hash.startsWith('#/register')) {
        window.location.replace('/account/register');
      } else if (window.location.hash.startsWith('#/forgetPassword')) {
        window.location.replace('/account/recover');
      }
    </script>
  </head>
</html>