{% extends 'gacha/base.tmpl' %}

{% block header %}{% endblock %}

{% block content %}
  <div class="block">
    ※ 祈愿记录将在一小时左右生成。如若无记录，请稍后再试 | 注：祈愿历史记录最多保存6个月
  </div>

  <div class="table-container">
    <table>
      <tr>
        <th>物品类型</th>
        <th>物品名称</th>
        <th>获取时间</th>
      </tr>
      <tr>
        <td colspan="3" style="text-align: center">暂时没有记录</td>
      </tr>
    </table>
  </div>
{%endblock %}