<html>
  <head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <link rel="icon" href="https://blog.cokeserver.com/upload/Blog_IconMain_20240129_640x640.ico" type="image/x-icon">
    <title>CokeSR</title>
    <script>
      if (window.location.hash.startsWith('#/register')) {
        window.location.replace('/account/register');
      } else if (window.location.hash.startsWith('#/forgetPassword')) {
        window.location.replace('/account/recover');
      }
    </script>
  </head>
  <style>
    .main a{
      text-decoration: none;
      color: red;
      font-style: normal;
    }
    .main a:hover{
      color: blue;
    }
  </style>
  <body>
    <h4>欢迎访问 SDK（1.3.4）<br>点击如下内容以获取更多信息：</h4>
    <hr>
    <address class= main>
      <a href="/account/register" target="_blank">账号注册</a>
      <a href="/account/recover" target="_blank">账号找回</a>
      <a href="https://gitlab.cokeserver.com/Coke/Hk4e-SDK" target="_blank">项目主页</a>
      <a href="https://blog.cokeserver.com/" target="_blank">作者博客</a>
    </address>  
  </body>
</html>