{
    "region_list": [
        {
            "name": "cb1_live",
            "title": "CBT-01",
            "type": "DEV_PUBLIC",
            "dispatchUrl": "http://192.168.1.3:21000/query_region/cb1_live"
        },
        {
            "name": "cb2_live",
            "title": "CBT-02",
            "type": "DEV_PUBLIC",
            "dispatchUrl": "http://192.168.1.3:21000/query_region/cb2_live"
        },
        {
            "name": "cb3_live",
            "title": "CBT-03",
            "type": "DEV_PUBLIC",
            "dispatchUrl": "http://192.168.1.3:21000/query_region/cb3_live"
        },
        {
            "name": "cn_gf01",
            "title": "REL-2.8.0",
            "type": "DEV_PUBLIC",
            "dispatchUrl": "http://192.168.1.3:21000/query_region/cn_gf01"
        }
    ],
    "clientCustomConfig": "{\"visitor\": false, \"sdkenv\": \"2\", \"checkdevice\": false}"
}