{
	"ChannelName" : "CNCBWin",
	"ProvisionProfile" : "",
	"BundleIdentifier" : "com.miHoYo.enterprise.HK4E",
	"SigningIdentity" : "",
	"PreDefines" : "GAIA_ADDON_TOOLS;GAIA_MULTI_TERRAINS;CTS_GAIA_RELOCATE;HOTFIX_ENABLE;UNITY_RELEASE_BUILD",
	"ProductName" : "原神",
	"PackageName" : "YuanShen",
	"TimeZones" : "eur,-2,12,+1;usa,-11,-3,-5",
	"DispatchConfigs" :[
		{
			"DispatchName": "CN",
			"DispatchUrls" :
			[
				"http://192.168.1.3:21000/query_region_list"
			]
		},
		{
			"DispatchName": "EN",
			"DispatchUrls" :
			[
				"http://192.168.1.3:21000/query_region_list"
			]
		}
	],
	"MediumReportUrl" : "http://192.168.1.3:21000/2g/dataUpload",
	"CrashReportUrl" : "http://192.168.1.3:21000/crash/dataUpload",
	"DataUseAssetBundle" : false,
	"EventUseAssetBundle" : false,
	"AccountBranch" : "Original",
	"PaymentBranch" : "ORIGINAL_ANDROID_PAY",
	"BaseTextLang" : "1,2,3,4,5,6,7,8,9,10,11,12,13",
	"BaseAudioLang" : "Chinese,English(US),Korean,Japanese"
}